h1 {
    user-select: none;

    font-weight: bold;

    color: #333;

    text-align: center;
    margin: 1rem;
}

input {
    padding: 1em;
    margin-right: 1em;

    border: 1px solid #333;
    border-radius: 5px;

    background-color: #333;
    color: #fff;

    transition: all ease-in-out .3s;
}

input:hover,
input:focus {
    background-color: #ddd;
    color: #333;

    box-shadow: 1px 1px 9px #333;
}

button {
    padding: 1em;

    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: #333;
    color: #fff;

    transition: all ease-in-out .3s;
}

button:hover,
button:focus {
    background-color: #ddd;
    color: #333;

    box-shadow: 1px 1px 9px #333;
}

.todo-container {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}